<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Francisco Murillo | Estudiante</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />

  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>

  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="/">
            <img src="/static/images/logo.png" alt="Francisco" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpg" alt="Francisco Murillo" class="profile-pic nav-link" />
              <span class="caption nav-link">Francisco Murillo</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Acerca</a>
          </li>
          <li class="nav-item">
            <a href="#general" class="nav-link">General</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Proyectos</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/francisco-murillo-02b2931b4/" target="_blank" class="nav-link">
              <i class='fab fa-linkedin'></i>
            </a>
            <a href="https://www.instagram.com/f_a_m_o_19/" target="_blank" class="nav-link">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/Frank_Murillo19" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <div class="cta">
            <a href="mailto:murillo.francisco2001@gmail.com" target="_blank" class="btn nav-link">Contáctame</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Frank Murillo</h2>
          <h3>{Estudiante}</h3>
          <p>Ingeniería de Negocios | ESEN</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Contáctame</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">Mis proyectos</a>
            </div>
            <div class="cta">
              <a href="#general" class="btn">General</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile-pic.jpg" alt="Francisco Murillo" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>¡HOLA MUNDO!</h2>
          <p>
            Mi nombre es Francisco Murillo, soy estudiante de tercer año de ingeniería de negocios en la ESEN.
            Me apasionan los lenguajes de programación así como también el sector financiero.
            Hablo dos idiomas, el espaÑol a nivel nativo y el inglés a nivel intermedio-avanzado por
            lo que estoy al tanto del noticias de ambas lenguas. Recibí certificaciones de MOS Word y MOS Excel que me
            ayudaron
            a familiarizarme con las computadoras y a adentrarme en este mundo informático.
          </p>
          <p>
            En adición, soy becado del Programa Oportunidades donde recibí formación en habilidades blandas para poder
            adentrarme en el mercado laboral de una forma calificada y ser una mano de obra eficiente. Mientras
            recibía mi formación como bachiller llevaba en simultáneo este programa, esto me hizo desarrollar una
            ezcelente habilidad de trabajo en entornos de presión o con grandes cantidades de trabajo.
          </p>

        </div>
      </div>
      <hr />
    </section>

    <section id="general" class="general">
      <div class="container">
        <div class="title-heading">
          <h2>INFORMACIÓN GENERAL</h2>
          <p>
            Estos han sido algunos de los voluntariados en los que he participado
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fas fa-hand-holding-heart" aria-hidden="true"></i>
            <h2>Campamento de Solidaridad</h2>
            <p>
              Voluntario para la reconstrucción de capillas y remodelación de las mismas en
              diferentes comunidades alejadas del centro urbano. Además, se repartían víveres
              en estas comunidades.
            </p>
          </div>
          <div class="tier-item">
            <i class="fas fa-donate" aria-hidden="true"></i>
            <h2>Taller <br> Bursátil</h2>
            <p>
              Participante en el juego de la bolsa y en la primera edición del taller bursátil
              realizado por la UCA. Se impartieron conocimientos acerca de la blsa de valores salvadoreña
              y diferentes tecnicismo relativos a esta.
            </p>
          </div>
          <div class="tier-item">
            <i class="	fas fa-id-badge" aria-hidden="true"></i>
            <h2>Voluntario del programa Oportunidades</h2>
            <p>
              Mantenimiento y actualización de la base de datos de alumnos del programa y
              de sus diferentes fases. Así como tabién sistematización y digitalización de los
              expedientes de estudiantes de la Fase 1.
            </p>
          </div>
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>PROYECTOS</h2>
        <p>Estos son algunos proyectos en los que he trabajado</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/sppms.png" />
        </div>
        <div class="project-description">
          <h2>Proyecto de App de Domicilio</h2>
          <p>
            Este fue un sistema que trabaje con un grupo de colegas
            donde creamos una plataforma digital para poder registrar
            pedidos a domicilio integrando python y dandole una vistosidad
            con HTML y CSS.
          </p>
          <a href="https://github.com/famo19/DeliveryApp_BD" class="project-link" target="_blank"><i
              class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>To-do App</h2>
          <p>
            Este proyecto se basó en la famosa plataforma "Eventbrite" que en esencia es un
            To-Do List muy amplio y sencillo de usar. Fue programado en la terminal de python
            y estaba funcional completamente dadas nuestras capacidades fue un trabajo de calidad.
          </p>
          <a href="https://github.com/famo19/EventBrite" class="project-link" target="_blank"><i class="fa fa-github"
              aria-hidden="true"> View Code</i></a>
        </div>
        <div class="project-img">
          <img src="/static/images/to-do.png" />
        </div>
      </div>


      </div>
      <hr />
    </section>


    <section id="contact" class="contact">
      <h2>Contáctame</h2>

      <div class="contact_form">

        <div class="formulario">
          <h1>Formulario de contacto</h1>
          <h3>Escríbeme y me pondré en contacto contigo</h3>


          <form action="" method="post">


            <p>
              <label for="nombre" class="colocar_nombre">Nombre
                <span class="obligatorio">*</span>
              </label>
              <input type="text" name="introducir_nombre" id="nombre" required="obligatorio"
                placeholder="Escribe tu nombre">
            </p>

            <p>
              <label for="telefone" class="colocar_telefono">Teléfono
              </label>
              <input type="tel" name="introducir_telefono" id="telefono" placeholder="Escribe tu teléfono">
            </p>

            <p>
              <label for="asunto" class="colocar_asunto">Asunto
                <span class="obligatorio">*</span>
              </label>
              <input type="text" name="introducir_asunto" id="assunto" required="obligatorio"
                placeholder="Escribe un asunto">
            </p>

            <p>
              <label for="mensaje" class="colocar_mensaje">Mensaje
                <span class="obligatorio">*</span>
              </label>
              <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" required="obligatorio"
                placeholder="Deja aquí tu comentario..."></textarea>
            </p>

            <button type="submit" name="enviar_formulario" id="enviar">
              <p>Enviar</p>
            </button>

            <p class="aviso">
              <span class="obligatorio"> * </span>Los campos son obligatorios.
            </p>

          </form>
        </div>
      </div>

      <div class="container">
        <p>
          <a href="mailto: murillo.francisco2001@gmail.com"><i class="fas fa-envelope-open"></i>
            murillo.francisco2001@gmail.com</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/francisco-murillo-02b2931b4/" target="_blank" class='fab fa-linkedin'>
            LinkedIn
          </a>
        </p>
        <p>
          <a href="https://www.instagram.com/f_a_m_o_19/" target="_blank" class="fab fa-instagram">
            Instagram
          </a>
        </p>
        <p>
          <a href="https://twitter.com/Frank_Murillo19" target="_blank" class="fab fa-twitter">
            Twitter
          </a>
        </p>
      </div>

      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Inicio</a>
        <a href="#about" class="footer-nav-link">Acerca</a>
        <a href="#general" class="footer-nav-link">Información General</a>
        <a href="#projects" class="footer-nav-link">Proyectos</a>
        <a href="#contact" class="footer-nav-link">Contacto</a>
      </div>
      <div class="footer-coded-by">
        <p>
          Francisco Murillo &copy; 2021
        </p>
        <p>Elaborado con HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="https://www.linkedin.com/in/francisco-murillo-02b2931b4/" target="_blank" class="fab fa-linkedin">
        </a>
        <a href="https://www.instagram.com/f_a_m_o_19/" target="_blank" class="fab fa-instagram">
        </a>
        <a href="https://twitter.com/Frank_Murillo19" target="_blank" class="fab fa-twitter">
        </a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>